/.venv
MarketSight/MarketSight/.env
MarketSight/MarketSightBack/.env
MarketSight/MarketSightBack/MSOAI.py
MarketSight/MarketSightBack/training_models.py
MarketSight/MarketSightBack/views.py
MarketSight/MarketSightBack/tempCodeRunnerFile.py
