<!DOCTYPE html>
<html lang="en">
<head>

    {% load static %}

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="{% static 'css/Assistance.css' %}"> -->
     <link rel="stylesheet" href="{% static 'assistance.css' %}">
    <title>Document</title>
</head>
<body>
     {% block content %}

    <!-- This will be like a border of the card that's gonna have support -->



    
  
<!-- For this one, we wanna create specific support: input -->

        <div class="border">
            <h1>Contact Us</h1>
            <form action="POST">
                <label for="name">Name:</label>
                <input type="text" id="inputbox" name="name" required>
                <label for="email">Email:</label>
                <input type="email" id="inputbox" name="email" required>
                <label for="message">Message:</label>
                <textarea id="message" name="message" required></textarea>
                <button type="submit">Submit</button>
            </form>
        </div>




        



<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.14.0/gsap.min.js"></script>


<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.14.0/ScrollTrigger.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.14.0/Draggable.min.js"></script>


{% endblock %}
    
</body>
</html>