{% load static tailwind_tags %}



<!DOCTYPE html>
<html lang="en">
<head>
   {% tailwind_css %}
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="{% static 'style.css' %}">
   <title>MarketSight</title>
   
</head>
<body>



   <!-- Div: Links Navbar -->
     <div class="navbar">
      <a href="{% url 'assistance' %}">Support</a>
      <a href="{% url 'room' %}">Portfolio</a>
      <a href="{% url 'home' %}">Home</a>

      {% if user.is_authenticated %}
        <a href="{% url 'logout_page' %}">Logout</a>
      {% else %}
        <a href="{% url 'login' %}">Login</a>
   {% endif %}
      <a href="{% url 'search' %}">Search</a>
     </div>
    <!-- For Portfolio, I wanna have a redirection if the condiition is not met that will make sure users are signed up --> 

 

   <div class="search-bar">
      <h1 id="market">MarketSight</h1>
      <div class="search-container">
         <!-- Wrapper for the autocomplete -->
         <div class="search-container  w-full max-w-2xl mx-auto">
            <div class="relative">
            <form method="GET", action="{% url 'search' %}">
            <input type="text" id="stockSearch" placeholder="Search for Stocks..." name="search" required 
            class="w-full px-4 py-2 text-black bg-white rounded-md focus:outline-none" autocomplete="off ">
            <button type="submit">Search</button>
            
            </form>
            <div class="autocomplete hidden absolute top-full left-0 w-full
                        bg-gray-900 border border-gray-600 mt-1 rounded-b-lg
                        shadow-xl z-50 max-h-64 overflow-y-auto">
            </div>


            </div>
            </form>

         </div>



      
      </div>


   </div>

   <!-- Div: Top Performer Today -->
 <div class="greet_user">

   {% if user.is_authenticated %}
      <p> Welcome! {{user.username}}</p>

      <div class="trending_stock">
         

      </div>
   {% else %}

      <a href="{% url 'login' %}"> 
         <p>Please Login to take advantage of our tools!. We Welcome you into the adventure of financial freedom!</p> 
   </a>
  
   {% endif %}
 </div>


<!-- Daily winner stock -->
 

<div class="flex flex-row py-6">
{% for stocks in gainers %}
   <h3 class="text-gray-200 -[16px]">{{label_ticker | safe}}</h3>
   <canvas class="gainerGraph  relative h-[150px] w-auto mx-auto border-2 border-green-300 shadow-shadow-[0_0_15px_rgba(21,128,61,0.8),inset_0_0_15px_rgba(21,128,61,0.5)]
 "></canvas>
{% endfor %}
</div>




{% block scripts %}
<script>
   const ticker = {{label_ticker | safe}}
   const percentage = {{label_percentage | safe}}
</script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/gsap@3.14.1/dist/gsap.min.js"></script>
<script src="{% static 'search.js' %}"></script>

{% endblock scripts %}





 
</body>
</html>








