{% load static tailwind_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
   {% tailwind_css %}
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="{% static 'stock.css' %}">
   <title>{{ request.resolver_match.kwargs.stock_tick }}</title>
</head>

<body>

   <div class="navbar">

      <a href="{% url 'assistance' %}">Support</a>
      <a href="{% url 'room' %}">Portfolio</a>
      <a href="{% url 'home' %}">Home</a>

      {% if user.is_authenticated %}
         <a href="{% url 'logout_page' %}">Logout</a>
      {% else %}
         <a href="{% url 'login' %}">Login</a>
      {% endif %}

      <a href="{% url 'search' %}">Search</a>
   </div>

 

   <div class="stock">
      {% for stocks in ticker %}
         <div>
            <p>{{ stocks.id }}: {{ stocks.stock }}</p>
         </div>
      {% endfor %}
   </div>

   <!-- removed extra stray </div> here -->
   
   <section class="stock-orders flex flex-col py-6 gap-2">

      <div class="stock_graph relative h-[500px] w-1/2 mx-auto ">
         <canvas id="stockGraph"></canvas>
      </div>

      <div>
         <button class="interval bg-blue-500 hover:bg-blue-300 hover:text-white"
                 data-interval="1D">1D</button>

         <button class="interval bg-blue-800 text-gray-950 hover:bg-blue-300 hover:text-white"
                 data-interval="1W">1W</button>

         <button class="interval bg-blue-800 text-gray-950 hover:bg-blue-300 hover:text-white"
                 data-interval="1M">1M</button>

         <button class="interval bg-blue-800 text-gray-950 hover:bg-blue-300 hover:text-white"
                 data-interval="1Y">1Y</button>
      </div>
      <!-- Half the width by 50%  -->
      

   </section>

   <section class="max-w-7xl mx-auto px-6 py-8">
      <div class="grid grid-cols-1 md:grid-cols-2 sm:grid-cols-3 gap-6">

         {% for title, content in information_of_stock.items %}
            <!-- Conn -->
            <div class="flexcard group rounded-lg bg-blue-800 shadow text-center hover:bg-blue-300 transition-transform duration-300 hover:scale-105">

               <h3 class="text-lg font-bold mb-4 text-white group-hover:text-blue-950 duration-300">
                  {{ title }}
               </h3>

               <div class="gen-ai text-white group-hover:text-blue-950 space-y-4 leading-relaxed duration-300">
                  {{ content|linebreaks }}
               </div>

            </div>

         {% endfor %}

      </div>
   </section>

   <div class="stock_news">
      <!-- news goes here -->
   </div>

   <!-- scripts -->
   {% block scripts %}
   <script>
   const chartLabels = {{ stock_graph|safe }};
   const chartPrices = {{ stock_price|safe }};
   const stockTicker = "{{ request.resolver_match.kwargs.stock_tick }}";

   </script>
   <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
   <script src="{% static 'stock.js' %}"></script>
   <script src="https://cdn.jsdelivr.net/npm/gsap@3.14.1/dist/gsap.min.js"></script>


   {% endblock scripts %}
   

</body>
</html>
