{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="{% static 'stock.css' %}">
   <title>{{request.resolver_match.kwargs.stock_tick}}</title>
   
</head>
<body>

   

      <div class="navbar">
      <a href="{% url 'assistance' %}">Support</a>
      <a href="{% url 'room' %}">Portfolio</a>
      <a href="{% url 'home' %}">Home</a>

      {% if user.is_authenticated %}
         <a href="{% url 'logout_page' %}">Logout</a>
      {% else %}
         <a href="{% url 'login' %}">Login</a>
      {% endif %}
      <a href="{% url 'search' %}">Search</a>
      <!-- For Portfolio, I wanna have a redirection if the condiition is not met that will make sure users are signed up --> 
   </div>

 




        <div class="stock">

        <!-- Create a  -->
        {% for stocks in ticker %}
        <div>
           <p>
            {{stocks.id}}: {{stocks.stock}}
           </p> 

        </div>
         {% endfor %}
    </div>

</div>
   <section class="stock-orders">

         <div class="stock_graph">

         <!-- Create a inside div to ask: Buy or Sell Stocks -->
          <div class="orders">
            <!-- Flex direction should be row -->
             <!-- Furthermore, We want it to be a different div such as that stock orders is on the right -->
            <form action="" method="POST">
               {% csrf_token %}
               {% for stocks in ticker %}
               <div class="order">
               <button type="button" id="toggleSide" aria-pressed="false">Sell</button>
               <label>{{request.resolver_match.kwargs.stock_tick}}</label>
               <input type="text" placeholder="How many shares of {{stocks.id} you would like to buy}", min="1">




               </div>

            </form>

            
          </div>
               {% endfor %}


        </div>

   </section>



      
      <sectiom class="stock-information"> 
         
         <div class="stock_info">
         <h2>Details for {{ request.resolver_match.kwargs.stock_tick }}</h2>
         <!-- Create Animation for this one later on -->
         <div class="gen-ai" id="gen-ai-text">
            <p>{{ info|safe }}</p>
         </div>
      </div>

      </section>
      

      <div class="stock_news">
         <!-- For this one, I will add news via Alpaca -->


      </div>
                  


<!-- Yahoo Finance Display -->


<!-- News Anaylsis in the Bottom -->
    <!-- Use AI to indicate bias  -->


   <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
   <script src="{% static 'stock.js'%}"></script>
   



 
</body>
</html>










