{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="{% static 'style.css' %}">
   <title>Document</title>
   
</head>
<body>

   

      <div class="navbar">
      <a href="{% url 'assistance' %}">Support</a>
      <a href="{% url 'room' %}">Portfolio</a>
      <a href="{% url 'home' %}">Home</a>

      {% if user.is_authenticated %}
         <a href="{% url 'logout_page' %}">Logout</a>
      {% else %}
         <a href="{% url 'login' %}">Login</a>
      {% endif %}
      <a href="{% url 'search' %}">Search</a>
      <!-- For Portfolio, I wanna have a redirection if the condiition is not met that will make sure users are signed up --> 
   </div>

 




        <div class="stock">

        <!-- Create a  -->
        {% for stocks in ticker %}
        <div>
           <p>
            {{stocks.id}}: {{stocks.stock}}
           </p> 

        </div>
         {% endfor %}
    </div>

</div>

        <div class="stock_graph">

        </div>
      
        <div class="stock_info">
         <h2>Details for {{ request.resolver_match.kwargs.stock_tick }}</h2>
         <!-- Create Animation for this one later on -->
         <p class="gen-ai">{{ info|safe }}</p>
      </div>
                  


<!-- Yahoo Finance Display -->


<!-- News Anaylsis in the Bottom -->
    <!-- Use AI to indicate bias  -->




 
</body>
</html>










